<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Pedometer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hhx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServelt</display-name>
    <servlet-name>RegisterServelt</servlet-name>
    <servlet-class>com.hhx.servlet.RegisterServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServelt</servlet-name>
    <url-pattern>/RegisterServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFriendsListServlet</display-name>
    <servlet-name>GetFriendsListServlet</servlet-name>
    <servlet-class>com.hhx.servlet.GetFriendsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFriendsListServlet</servlet-name>
    <url-pattern>/GetFriendsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyInfoServlet</display-name>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <servlet-class>com.hhx.servlet.ModifyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <url-pattern>/ModifyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNameServlet</display-name>
    <servlet-name>CheckNameServlet</servlet-name>
    <servlet-class>com.hhx.servlet.CheckNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameServlet</servlet-name>
    <url-pattern>/CheckNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyFriendServlet</display-name>
    <servlet-name>ApplyFriendServlet</servlet-name>
    <servlet-class>com.hhx.servlet.ApplyFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyFriendServlet</servlet-name>
    <url-pattern>/ApplyFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptApplyServlet</display-name>
    <servlet-name>AcceptApplyServlet</servlet-name>
    <servlet-class>com.hhx.servlet.AcceptApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptApplyServlet</servlet-name>
    <url-pattern>/AcceptApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSharedRecordServlet</display-name>
    <servlet-name>ShowSharedRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.ShowSharedRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSharedRecordServlet</servlet-name>
    <url-pattern>/ShowSharedRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSharedRecordServlet</display-name>
    <servlet-name>GetAllSharedRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.GetAllSharedRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSharedRecordServlet</servlet-name>
    <url-pattern>/GetAllSharedRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShareRecordServlet</display-name>
    <servlet-name>DeleteShareRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.DeleteShareRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShareRecordServlet</servlet-name>
    <url-pattern>/DeleteShareRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareRecordServlet</display-name>
    <servlet-name>ShareRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.ShareRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareRecordServlet</servlet-name>
    <url-pattern>/ShareRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserServlet</display-name>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>com.hhx.servlet.QueryUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/QueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllMessagesServlet</display-name>
    <servlet-name>GetAllMessagesServlet</servlet-name>
    <servlet-class>com.hhx.servlet.GetAllMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMessagesServlet</servlet-name>
    <url-pattern>/GetAllMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.hhx.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadMessageServlet</display-name>
    <servlet-name>ReadMessageServlet</servlet-name>
    <servlet-class>com.hhx.servlet.ReadMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadMessageServlet</servlet-name>
    <url-pattern>/ReadMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllHistoryRecordServlet</display-name>
    <servlet-name>GetAllHistoryRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.GetAllHistoryRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllHistoryRecordServlet</servlet-name>
    <url-pattern>/GetAllHistoryRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHistoryData</display-name>
    <servlet-name>GetHistoryData</servlet-name>
    <servlet-class>com.hhx.servlet.GetHistoryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHistoryData</servlet-name>
    <url-pattern>/GetHistoryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllTodayRecordServlet</display-name>
    <servlet-name>GetAllTodayRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.GetAllTodayRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTodayRecordServlet</servlet-name>
    <url-pattern>/GetAllTodayRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyTodayRecordServlet</display-name>
    <servlet-name>ModifyTodayRecordServlet</servlet-name>
    <servlet-class>com.hhx.servlet.ModifyTodayRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyTodayRecordServlet</servlet-name>
    <url-pattern>/ModifyTodayRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserByIdServlet</display-name>
    <servlet-name>GetUserByIdServlet</servlet-name>
    <servlet-class>com.hhx.servlet.GetUserByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByIdServlet</servlet-name>
    <url-pattern>/GetUserByIdServlet</url-pattern>
  </servlet-mapping>
</web-app>