<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileapp.hhx.pedometer">

    <application
        android:name="com.mobileapp.hhx.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".GroundActivity"
            android:label="@string/title_activity_ground" />
        <activity
            android:name=".HomepageActivity"
            android:label="@string/title_activity_home_page" />
        <activity android:name=".Homepage_SettingsActivity" />
        <activity android:name=".Homepage_MessagesActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Ground_FriendsListActivity" />
        <activity android:name=".Homepage_ModifyPswdActivity" />
        <activity android:name=".Homepage_ApplicationActivity" />
        <activity android:name=".Homepage_MessagesDetailActivity" />
        <activity android:name=".Homepage_HelpActivity" />
        <activity android:name=".Homepage_MessagesListActivity" />
        <activity android:name=".UserIndexActivity" />
        <activity android:name=".Ground_RankingListActivity"></activity>
    </application>

</manifest>